<nav class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="place-order">Place order</NavLink>
    <NavLink class="nav-link" href="orders">Orders</NavLink>
    <NavLink class="nav-link" href="stock">Stock</NavLink>
</nav>
